// Defining values
$phone: 768px;
$tablet: 992px;
$desktop: 1200px;

// Usage
// @media (min-width: $screen-sm) { ... }
// @media (min-width: $screen-md) { ... }
// @media (min-width: $screen-lg) { ... }