// Defining values
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1440px;

// Usage
// @media (min-width: $screen-sm) { ... }
// @media (min-width: $screen-md) { ... }
// @media (min-width: $screen-lg) { ... }