.content {
	width: 90%;
	margin: 0 auto;

	@media (min-width: $screen-md) {
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}

	@media (min-width: $screen-lg) {
		width: 1400px;
		margin: 0 auto;
	}

	&__intro {
		text-align: center;
		font-size: 1.2em;
	}

	&__header {
		margin: 40px 0;
		text-align: center;
		border-bottom: 1px solid $light-grey;
		padding-bottom: 30px;
	}

	&__img {
		display: block;
		width: 100%;
		margin: 0 auto 30px;

		@media (min-width: $screen-md) {
			width: 90%;
		}

		@media (min-width: $screen-lg) {
			width: 1080px;
		}
	}

	&__ctas {
		display: flex;
		justify-content: center;
		margin: 30px 0;

		.cta {
			margin: 0 10px;
		}
	}

	&__award {
		position: fixed;
		right: 0;
	}
}