.header {
	padding: 30px;
	text-align: center;

	&__logo {
		display: block;
		width: 100px;
		margin: 0px auto;
	}

	&__subtitle {
		font-weight: bold;
    letter-spacing: 1.7px;
		color: $grey;
	}
}