.homepage__intro {
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  &__project {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

    @media (min-width: $screen-md) {
      max-height: 720px;
      text-align: left;
      width: 46%;
      margin: 30px 2%;
    }

    &-image {
      width: 100%;
      margin-bottom: 10px;
      transition:all .3s;

      &:hover {
        transform: scale(1.02);
      }
    }

    &-description {
      margin-bottom: 40px;
      min-height: 100px;
    }
  }

  &__development {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

    @media (min-width: $screen-md) {
      max-height: 300px;
      width: 30%;
      margin: 30px 1%;
    }

    &-description {
      margin-bottom: 40px;
      min-height: 50px;
    }
  }
}

