body {
	width: 90%;
	margin: 0 auto;
	@media (min-width: $desktop) {
		width: 900px;
	}
}

.project {
	width: 100%;

	&__technology {
		color: $grey-light;
		font-weight: bold;
	}

	img {
		width: 100%
	}
}