.cta {
  padding: 10px 20px;
  border: 1px solid black;
  @include transition(1s);
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.8em;

  &:hover {
    background: black;
    color: white;
  }

  &__secondary {
    background-color: black;
    color: white;

    &:hover {
      background: white;
      color: black;
    }
  }
}